body{
    font-family: Outfit;
    background-color:  hsl(212, 45%, 89%);
    background-repeat: no-repeat;
}

.attribution {
    font-size: 11px; text-align: center;
    position: relative;
    top: 110px;
    font-family: Outfit;
    color: black;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.box1{
    color: white;
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: 460px;
    padding: 15px;
    margin: auto;
    position: relative;
    top: 100px;
    display: block;
}

p {
    font-size: 15px;
}

.text1 {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    bottom: 10px;
}

.img1 {
    height: 290px;
    width: 300px;
    position: relative;
    align-items: center;
    border-radius: 15px;
}

.text2 {
    color: hsl(220, 15%, 55%);
    text-align: center;
    position: relative;
    bottom: 20px;
}